.gradle
gradle
build

target/innercore
target/logs
target/players
target/plugins
target/resource_packs
target/worlds
target/banned-ips.json
target/banned-players.json
target/innercore_default_config.json
target/ops.txt
target/scoreboard.json
target/server.properties
target/white-list.txt

.idea